body {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 200%;
}
h1 {
        color:gray;
        font-weight: lighter;
}
table {
        margin-top: 1em;
        margin-bottom: 1em;
}
footer {
        color:gray;
        font-weight: lighter;
}